.accordionContainer {
    border: 7px solid gray;

    .titlewrapper {
        cursor: pointer;
        background: gainsboro;
        display: flex;
        align-items: center;
        padding: 10px;
       img {
           height: 9px;
           width: 9px;
       }
       span {
           padding-left: 2px;
       }
    }

    .contentWrapper {
     p {
         padding-left: 10px;
     }
    }
}