.App {
  // height: 100vh;
  background: #c4d1d8;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
}

.temp {
  background: red;
  border: 1px solid blueviolet;
}

.myflyout {
  .flyout_Container {
    top: 4px;
  }
}

.secContainer{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}